@import url("./Components/Font.scss");
@import url("./Components/Color.scss");
@import url("./Components/Variable.scss");

body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

body::-webkit-scrollbar-thumb {
  height: 30%;
  background: red;

  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: rgba(122, 0, 0, 0.15); /*스크롤바 뒷 배경 색상*/
}

body::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 0, 0, 0.5);
}

.App {
  max-width: var(--document-width-desktop);
  margin: 0 auto;
  padding-left: 5vw;
  padding-right: 5vw;
}

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
