@font-face {
  font-family: "IBMFlexSansKRRegular";
  src: url("../Fonts/IBMPlexSansKR-Regular.woff2");
}

@font-face {
  font-family: "IBMFlexSansKRBold";
  src: url("../Fonts/IBMPlexSansKR-Bold.woff2");
}
