@font-face {
  font-family: "IBMFlexSansKRRegular";
  src: url("../Fonts/IBMPlexSansKR-Regular.ttf");
}

@font-face {
  font-family: "IBMFlexSansKRBold";
  src: url("../Fonts/IBMPlexSansKR-Bold.ttf");
}
