@font-face {
  font-family: "IBMFlexSansKRBold";
  font-weight: bold;
  src: url("../Fonts/IBMPlexSansKR-Bold.ttf");
}

.header {
  width: 100%;
  height: 5em;
  //   background-color: #faac6a; // https://color.adobe.com/color-theme_スクリーンショット-2022-07-25-13-color-theme-20369388
  text-decoration-line: none;
  z-index: 999;

  .headerText {
    color: black;
    font-size: 3em;
    font-family: "IBMFlexSansKRBold";
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    .underLine {
      width: 0.4em;
      height: 0.4em;
      background-color: red;
    }
  }
}
