@import url("./Color.scss");

.inputTextArea {
  width: 50%;
  height: 100vh;
  border: none;
  padding: 1em;
  border-radius: 7px;
  background-color: var(--gray-300);
  resize: none;
  margin-top: 1em;
  margin-right: 1em;
}
input {
  width: 100%;
  height: 3em;
  font-size: 1em;
  border: none;
  padding: 0 1em 0 1em;
  border-radius: 7px;
  background-color: var(--gray-300);
  resize: none;
  margin-top: 1em;
  margin-right: 1em;
}

button {
  width: 8em;
  margin: 1em;
  height: 3em;
  font-size: 1em;
  border: none;
  border-radius: 7px;

  background-color: var(--gray-600);
}
button:hover {
  background: var(--gray-400);
}

textarea:focus,
input:focus {
  outline: none;
}

.showTextArea {
  width: 50%;
  margin-top: 1em;
  margin-left: 1em;
}
